*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

nav{
    background-color: orange;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.conteiner{
    width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.grande{
    margin-top: 120px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}

.left a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    margin: 0px 5px
}

.center{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.center img{
    height: 1.5rem;
}

.right{
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.carrello{
    width: 20px;
    margin: 0px 5px;
}

.foto{
    background-size: contain;
    height: 400px;
    position: relative;
}

.prima{
    background-image: url(../img/1.webp);
}

.prima:hover{
    background-image: url(../img/1b.webp);
}

.seconda{
    background-image: url(../img/2.webp);
}

.seconda:hover{
    background-image: url(../img/2b.webp);
}

.terza{
    background-image: url(../img/3.webp);
}

.terza:hover{
    background-image: url(../img/3b.webp);
}

.quarta{
    background-image: url(../img/4.webp);
}

.quarta:hover{
    background-image: url(../img/4b.webp);
}

.quinta{
    background-image: url(../img/5.webp);
}

.quinta:hover{
    background-image: url(../img/5b.webp);
}

.sesta{
    background-image: url(../img/6.webp);
}

.sesta:hover{
    background-image: url(../img/6b.webp);
}

.targhe{
    position: absolute;
    bottom: 5%;
}

.cuore{
    display: inline-block;
    background-color: white;
    padding: 0.2rem .8rem;
    font-size: 1.5rem;
    position: absolute;
    top: 5%;
    right: 0;
}

.sconto{
    background-color: red;
    display: inline-block;
    color: white;
    padding: 0.1rem;
    font-size: 15px;
}

.sostenibilità{
    background-color: green;
    display: inline-block;
    color: white;
    padding: 0.1rem;
    font-size: 15px;
}

.didascalia{
    font-family: "Roboto";
}

.prezzo{
    color: red;
}

.marca{
    color: darkgray;
}

.articolo{
    width: 30%;
    margin: 40px 0px;
}

.foto img{
    width: 100%;
}

footer{
    background-color: black;
    padding: 20px;
}

.piccolo{
    position: relative;
    height: 80px;
}

footer h4{
    color: white;
    font-family: "Roboto";
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0;
}

footer span{
    color: white;
    font-family: "Roboto";
}

.informazioni{
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a{
    color: white;
    font-family: "Roboto";
    text-decoration: none;
    padding: 0 10px;
}

.link{
    position: absolute;
    right: 0;
    top: 20px;
}