*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

nav{
    background-color: orange;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.conteiner{
    width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.grande{
    margin-top: 120px;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}

.left a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    margin: 0px 5px
}

.center{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.center img{
    height: 1.5rem;
}

.right{
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right img{
    width: 20px;
    margin: 0px 5px;
}

main{
    height: 3000px;
}

.foto{
    background-image: url(../img/1.webp);
    background-size: contain;
    height: 400px;
    position: relative;
}

.targhe{
    position: absolute;
    bottom: 5%;
}

.cuore{
    display: inline-block;
    background-color: white;
    padding: 0.2rem .8rem;
    font-size: 1.5rem;
    position: absolute;
    top: 5%;
    right: 0;
}

.sconto{
    background-color: red;
    display: inline-block;
    color: white;
    padding: 0.1rem;
    font-size: 15px;
}

.sostenibilità{
    background-color: green;
    display: inline-block;
    color: white;
    padding: 0.1rem;
    font-size: 15px;
}

.didascalia{
    font-family: "Roboto";
}

.prezzo{
    color: red;
}

.marca{
    color: darkgray;
}

.articolo{
    width: 30%;
}

.foto img{
    width: 100%;
}